<!-- ejs模板,模块展现层,负责展现UI -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="skyframe/lib/skyframe.js"></script>
</head>
<!-- 模板正文 -->
<body style="margin: 0px;">
    <h2 style="padding-left:20px;padding-top:10px;">Hello 楔!</h2>
</body>


<script>

    // var testFrame = new skyframe();
    // testFrame.init({
    //     id:"headFrame",
    //     container:$("#headDiv"),
    //     server:"login"
    // }); 

</script>
</html>

